:root {
    /** || Colors */
    --text-color-lx4: #d4d4d7;
    --text-color-lx3: #a9aaaf;
    --text-color-lx2: #7e7f86;
    --text-color-lx1: #53555e;
    --text-color: #282a36;
    --text-color-dx1: #20222b;
    --text-color-dx2: #181920;
    --text-color-dx3: #101116;
    --text-color-dx4: #08080b;

    --blue-bg-lx4: #92b7cd;
    --blue-bg-lx3: #7ca9c2;
    --blue-bg-lx2: #518cae;
    --blue-bg-lx1: #3b7da4;
    --blue-bg: #256f9a;
    --blue-bg-dx1: #21648b;
    --blue-bg-dx2: #1e597b;
    --blue-bg-dx3: #1a4e6c;
    --blue-bg-dx4: #13384d;

    --cyan-bg-lx4: #dcf8fe;
    --cyan-bg-lx3: #c5f4fe;
    --cyan-bg-lx2: #b9f2fe;
    --cyan-bg-lx1: #a2edfd;
    --cyan-bg: #8be9fd;
    --cyan-bg-dx1: #7dd2e4;
    --cyan-bg-dx2: #6fbaca;
    --cyan-bg-dx3: #538c98;
    --cyan-bg-dx4: #385d65;

    --red-bg-lx4: #ffbbbb;
    --red-bg-lx3: #ffbbbb;
    --red-bg-lx2: #ff9999;
    --red-bg-lx1: #ff6666;
    --red-bg: #ff5555;
    --red-bg-dx1: #e64d4d;
    --red-bg-dx2: #cc4444;
    --red-bg-dx3: #b33b3b;
    --red-bg-dx4: #993333;

    --primary-bg-lx4: #fdfdfb;
    --primary-bg-lx3: #f4f4f3;
    --primary-bg-lx2: #e8e8e7;
    --primary-bg-lx1: #e3e3e1;
    --primary-bg: #d7d7d4;
    --primary-bg-dx1: #c6c6c2;
    --primary-bg-dx2: #959591;
    --primary-bg-dx3: #636361;
    --primary-bg-dx4: #323230;

    --outline: black dashed 1px;

    --border-width-btn: 1px;

    --regular-bg-btn: var(--primary-bg);
    --regular-bg-btn-hovered: var(--primary-bg-lx1);
    --regular-bg-btn-activated: var(--primary-bg-dx1);
    --regular-color-btn: black;
    --regular-color-btn-hovered: black;
    --regular-color-btn-activated: black;
    /* --regular-shadow-btn: 0 0 4px 1px var(--primary-bg-dx1); */
    --regular-border-btn: 2px solid transparent;

    --destructive-bg-btn: var(--red-bg);
    --destructive-bg-btn-hovered: var(--red-bg-dx1);
    --destructive-bg-btn-activated: var(--red-bg-dx2);
    --destructive-color-btn: white;
    --destructive-color-btn-hovered: white;
    --destructive-color-btn-activated: white;
    --destructive-border-btn: 2px solid transparent;
    /* --destructive-shadow-btn: 0 0 4px 1px var(--red-bg-lx2); */

    --suggested-bg-btn: var(--blue-bg);
    --suggested-bg-btn-hovered: var(--blue-bg-lx1);
    --suggested-bg-btn-activated: var(--blue-bg-dx1);
    --suggested-color-btn: white;
    --suggested-color-btn-hovered: white;
    --suggested-color-btn-activated: white;
    /* --suggested-shadow-btn: 0 0 4px 1px var(--blue-bg-lx2); */
    --suggested-border-btn: 2px solid transparent;

    --checked-shadow-btn: 0 0 6px 1px var(--primary-bg-dx4) inset;
    --checked-bg-btn: var(--primary-bg-dx1);
    --checked-bg-btn-hovered: var(--primary-bg);
    --checked-bg-btn-activated: var(--primary-bg-dx2);
    --checked-color-btn: white;
    --checked-color-btn-hovered: white;
    --checked-color-btn-activated: white;

    --checked-disabled-shadow-btn: 0 0 6px 1px var(--primary-bg) inset;

    --disabled-bg-btn: var(--primary-bg-lx3);
    --disabled-color-btn: var(--primary-bg-dx1);
    --disabled-border-btn: 2px solid var(--primary-bg-lx2);

    --regular-bg-btn-outlined: none;
    --regular-bg-btn-outlined-hovered: var(--regular-bg-btn-hovered);
    --regular-bg-btn-outlined-activated: var(--regular-bg-btn-activated);
    --regular-color-btn-outlined: var(--primary-bg-dx3);
    --regular-color-btn-outlined-hovered: var(--primary-bg-dx3);
    --regular-color-btn-outlined-activated: var(--primary-bg-dx3);
    --regular-border-btn-outlined: 2px solid var(--primary-bg-dx3);
    --regular-shadow-btn-outlined: 0 0 4px 1px var(--primary-bg-dx1);

    --destructive-bg-btn-outlined: none;
    --destructive-bg-btn-outlined-hovered: var(--red-bg-dx1);
    --destructive-bg-btn-outlined-activated: var(--red-bg-dx2);
    --destructive-color-btn-outlined: var(--red-bg-dx2);
    --destructive-color-btn-outlined-hovered: white;
    --destructive-color-btn-outlined-activated: white;
    --destructive-border-btn-outlined: 2px solid var(--red-bg-dx2);
    --destructive-shadow-btn-outlined: 0 0 4px 1px var(--red-bg-lx2);

    --suggested-bg-btn-outlined: none;
    --suggested-bg-btn-outlined-hovered: var(--blue-bg-lx1);
    --suggested-bg-btn-outlined-activated: var(--blue-bg-dx1);
    --suggested-color-btn-outlined: var(--blue-bg-dx2);
    --suggested-color-btn-outlined-hovered: white;
    --suggested-color-btn-outlined-activated: white;
    --suggested-border-btn-outlined: 2px solid var(--blue-bg-dx2);
    --suggested-shadow-btn-outlined: 0 0 4px 1px var(--blue-bg-lx2);

    --disabled-bg-btn-outlined: none;
    --disabled-color-btn-outlined: var(--primary-bg-dx1);
    --disabled-border-btn-outlined: 2px solid var(--primary-bg-lx2);

    --border-width-btn: 2px;
    --border-width-btn-outlined: 2px;

    --shadow-control: 0 0 4px 1px var(--regular-bg-dx1);
}
