.Button {
    outline: none;
    background-color: var(--primary-bg);
    border-radius: 0.5rem;

    color: var(--text-color);

    border: 0;

    &:hover {
        background-color: var(--primary-bg-lx2);
    }
    &:active {
        background-color: var(--primary-bg-dx4);
    }

    &:focus {
    }

    flex: 1;
}

.Button[data-size='md'] {
    height: 2rem;
    font-size: 1rem;
}
